        <footer class="footer">
            <div class="container">

                <div class="row">
                    <div class="col-12 footer__upper-row">
                        <div class="site-logo">
                            <picture>
                                <img src="/assets/images/logo.png" alt="" src="/assets/images/logo@2x.png 2x, /assets/images/logo@3x.png 3x">
                            </picture>
                        </div>
                        <div class="site-company-name">
                            ООО "ЖИЛДОРСТРОЙ"
                        </div>
                    </div>
                </div>

                <div class="row wrap-plz">

                    <div class="footer__column footer__column_left">
                        <div class="col-12">
                            <div class="footer__navigation">
                                <ul>
                                    <li>
                                        <a href="#">услуги</a>
                                    </li>
                                    <li>
                                        <a href="#">акции</a>
                                    </li>
                                    <li>
                                        <a href="#">товары</a>
                                    </li>
                                    <li>
                                        <a href="#">о компании</a>
                                    </li>
                                    <li>
                                        <a href="#">контакты</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="footer__column footer__column_row footer__column_up">
                        <div class="col-6 empty-space_right">
                            <div class="footer__column-title">
                                офис
                            </div>
                            <div class="footer__column-description">
                                Республика Татарстан, 
                                г. Казань , ул. Можайского, 
                                д. 90 офис 405
                            </div>
                        </div>
                        <div class="col-6 empty-space_left">
                            <div class="footer__column-title">
                                склад
                            </div>
                            <div class="footer__column-description">
                                Республика Татарстан, 
                                г. Казань , ул. Можайского, 
                                д. 90 офис 405
                            </div>
                        </div>
                    </div>

                    <div class="footer__column footer__column_row footer__column_down">
                        <div class="col-12 col-md-6 empty-space_right">
                            <div class="footer__column-title footer__column_title_big-title">
                                8 (843) 292 - 55 - 36
                            </div>
                            <div class="footer__column-title footer__column_title_big-title">
                                gds_kazan16@mail.ru
                            </div>
                        </div>
                        <div class="col-12 col-md-6 empty-space_left">

                            <a href="#" class="link-to-prise footer-button footer-button_prise">
                                <div class="link-to-prise__wrap">
                                    <picture>
                                        <img src="/assets/images/download.png" alt="" srcset="/assets/images/download@2x.png 2x, /assets/images/download@3x.png 3x">
                                    </picture>
                                    <span>
                                        Скачать прайс
                                    </span>
                                </div>
                            </a>

                            <a href="#" class="link-to-prise footer-button footer-button_requisites">
                                <div class="link-to-prise__wrap">
                                    <picture>
                                        <img src="/assets/images/download.png" alt="" srcset="/assets/images/download@2x.png 2x, /assets/images/download@3x.png 3x">
                                    </picture>
                                    <span>
                                        Реквизиты
                                    </span>
                                </div>
                            </a>

                        </div>
                    </div>

                </div>

                <div class="row info-row__outer-wrap">
                    <div class="col-12 info-row">
                        <div class="lower-text">
                            © ООО "ЖИЛДОРСТРОЙ" 2020
                        </div>
                        <div class="about-icons">
                            Icons made by <span>vectors-market</span> from <span>Flaticon</span>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
    </div>
</div>

</body>
</html>