<div class="top-menu">
    <div class="container">
        <div class="row">
            <div class="top-menu__content-container col-12">
                <div class="site-logo">
                    <picture>
                        <img src="/assets/images/logo.png" alt="" src="/assets/images/logo@2x.png 2x, /assets/images/logo@3x.png 3x">
                    </picture>
                </div>
                <nav class="navigation-bar">
                    <ul>
                        <li>
                            товары
                        </li>
                        <li>
                            услуги
                        </li>
                        <li>
                            акции
                        </li>
                        <li>
                            контакты
                        </li>
                        <li>
                            о компании
                        </li>
                    </ul>
                    <div class="mobil-footer">
                        <div class="header__up-row col-12">
                            <div class="header__email">
                                gds_kazan16@mail.ru
                            </div>
                            <div class="header__phone">
                                <div class="header__phone-pref">
                                    <div class="phone-pref__item phone-pref__item_txt">
                                        тел./факс
                                    </div>
                                    <div class="phone-pref__item phone-pref__item_icon">
                                        <picture>
                                            <img src="/assets/images/phone_(2).png" alt="" srcset="/assets/images/phone_(2)@2x.png 2x, /assets/images/phone_(2)@3x.png 3x">
                                        </picture>
                                    </div>                        
                                </div>
                                <a href="tel:8(843)2925536" class="header__phone-link">
                                    8 (843) 292 - 55 - 36
                                </a>
                            </div>
                            <div class="header__link-to-prise">
                                <a href="#" class="link-to-prise">
                                    <div class="link-to-prise__wrap">
                                        <picture>
                                            <img src="/assets/images/download.png" alt="" srcset="/assets/images/download@2x.png 2x, /assets/images/download@3x.png 3x">
                                        </picture>
                                        <span>
                                            Скачать прайс
                                        </span>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </nav>
                <div class="header__link-to-prise header__link-to-prise_top-menu">
                    <a href="#" class="link-to-prise">
                        <div class="link-to-prise__wrap">
                            <picture>
                                <img src="/assets/images/download.png" alt="" srcset="/assets/images/download@2x.png 2x, /assets/images/download@3x.png 3x">
                            </picture>
                            <span>
                                Скачать прайс
                            </span>
                        </div>
                    </a>
                </div>
                <div class="burger-button">
                    <div class="burger-button__wrap">
                        <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="bars" class="svg-inline--fa fa-bars fa-w-14" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
                            <path fill="currentColor" d="M16 132h416c8.837 0 16-7.163 16-16V76c0-8.837-7.163-16-16-16H16C7.163 60 0 67.163 0 76v40c0 8.837 7.163 16 16 16zm0 160h416c8.837 0 16-7.163 16-16v-40c0-8.837-7.163-16-16-16H16c-8.837 0-16 7.163-16 16v40c0 8.837 7.163 16 16 16zm0 160h416c8.837 0 16-7.163 16-16v-40c0-8.837-7.163-16-16-16H16c-8.837 0-16 7.163-16 16v40c0 8.837 7.163 16 16 16z">
                            </path>
                        </svg>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>