@@include('parts/header.html')

<div class="work-area">

    <div class="content-block">
@@include('parts/top-menu-other.html')

        <div class="inner-about">
            <div class="container">
                <div class="row">

                    <div class="inner-about__image-content">
                        <div class="image-content__pattern">
                            <div class="square__azure">
                                <div class="square__orange">
                                </div>
                                <div class="square__with-image">
                                </div>
                            </div>
                            <div class="square__azure square__azure_second">
                                <div class="square__orange">
                                </div>
                                <div class="square__with-image">
                                </div>
                            </div>
                            <div class="square__azure square__azure_small">
                                <div class="square__orange">
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="inner-about__text-content">

                        <header class="col-12 tricky-title">
                            <div class="info-from-top-page">
                                <div class="header__email">
                                    gds_kazan16@mail.ru
                                </div>
                                <div class="header__phone">
                                    <div class="header__phone-pref">
                                        <div class="phone-pref__item phone-pref__item_txt">
                                            тел./факс
                                        </div>
                                        <div class="phone-pref__item phone-pref__item_icon">
                                            <picture>
                                                <img src="/assets/images/phone_(2).png" alt="" srcset="/assets/images/phone_(2)@2x.png 2x, /assets/images/phone_(2)@3x.png 3x">
                                            </picture>
                                        </div>                        
                                    </div>
                                    <a href="tel:8(843)2925536" class="header__phone-link">
                                        8 (843) 292 - 55 - 36
                                    </a>
                                </div>
                            </div>
                            <h1 class="h1 catalog-part__list-title">
                                О КОМПАНИИ
                            </h1>
                        </header>

                        <div class="col-12 col-md-9 inner-about__partition-block">
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean consequat lacinia placerat. Mauris facilisis metus ut dignissim rhoncus. In consequat nunc id pellentesque tempor. Praesent condimentum, felis rhoncus tincidunt consequat, turpis orci vestibulum justo, at consequat ligula velit non ex. Etiam sed accumsan felis, imperdiet tincidunt dui. Aenean interdum nisi nec efficitur molestie. Ut suscipit scelerisque quam, vitae viverra est ornare ut. Duis luctus mi in augue posuere feugiat. Donec scelerisque ipsum eu rutrum fermentum. Donec tempor purus et felis molestie, non eleifend dui sollicitudin. Pellentesque id nibh nulla. Donec id ultricies diam, eget dapibus nisi.
                            </p>
                            <p>
                                Maecenas est dolor, tristique in ipsum at, rutrum pretium velit. Aliquam pharetra eros ac augue varius interdum. Pellentesque tincidunt risus purus, a auctor lorem sollicitudin vel. Fusce in egestas dolor, vitae scelerisque ex. Fusce in egestas dolor, vitae scelerisque ex.
                            </p>
                            <p>
                                Maecenas est dolor, tristique in ipsum at, rutrum pretium velit. Aliquam pharetra eros ac augue varius interdum. Pellentesque tincidunt risus purus, a auctor lorem sollicitudin vel. Fusce in egestas dolor, vitae scelerisque ex. Fusce in egestas dolor, vitae scelerisque ex. 
                            </p>
                        </div>

                    </div>

                </div>
            </div>
        </div>

@@include('parts/footer.html')