@@include('parts/header.html')
<div class="work-area">
@@include('parts/loader-light.html')
    <div class="content-block">
@@include('parts/top-menu-other.html')
        <div class="contacts">
            <div class="container">
                <div class="row">

                    <div class="inner-about__image-content">
                        <div class="image-content__pattern">
                            <div class="square__azure square__azure_small">
                                <div class="square__orange">
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="inner-about__text-content">

                        <header class="col-12 tricky-title">
                            <div class="info-from-top-page">
                                <div class="header__email">
                                    gds_kazan16@mail.ru
                                </div>
                                <div class="header__phone">
                                    <div class="header__phone-pref">
                                        <div class="phone-pref__item phone-pref__item_txt">
                                            тел./факс
                                        </div>
                                        <div class="phone-pref__item phone-pref__item_icon">
                                            <picture>
                                                <img src="/assets/images/phone_(2).png" alt="" srcset="/assets/images/phone_(2)@2x.png 2x, /assets/images/phone_(2)@3x.png 3x">
                                            </picture>
                                        </div>                        
                                    </div>
                                    <a href="tel:8(843)2925536" class="header__phone-link">
                                        8 (843) 292 - 55 - 36
                                    </a>
                                </div>
                            </div>
                            <h1 class="h1 catalog-part__list-title">
                                КОНТАКТЫ
                            </h1>
                        </header>

                        <div class="col-12 col-md-6 contacts__content-part contacts__info">

                            <div class="contacts__partition-wrap">
                                <div class="contacts__partition-title">
                                    Офис
                                </div>
                                <div class="contacts__partition-description">
                                    <div class="partition-description__small-text">
                                        Республика Татарстан, г. Казань ,
                                        ул. Можайского, д. 90 офис 405
                                    </div>
                                    <div class="partition-description__contacts">
                                        <div class="partition-description__small-text partition-description__small-text_name">
                                            тел./факс
                                        </div>
                                        <div class="partition-description__small-text partition-description__small-text_value">
                                            8 (843) 292 - 55 - 36
                                        </div>
                                        <div class="partition-description__small-text partition-description__small-text_name">
                                            e-mail
                                        </div>
                                        <div class="partition-description__small-text partition-description__small-text_value">
                                            gds_kazan16@mail.ru
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="contacts__partition-wrap">
                                <div class="contacts__partition-title">
                                    Склад
                                </div>
                                <div class="contacts__partition-description">
                                    <div class="partition-description__small-text">
                                        Республика Татарстан, г. Казань ,
                                        ул. Можайского, д. 90 офис 405
                                    </div>                                    
                                </div>
                            </div>


                        </div>

                        <div class="col-12 col-md-6 contacts__content-part contacts__map">
                            <div style="position:relative;overflow:hidden;"><a href="https://yandex.ru/maps/43/kazan/?utm_medium=mapframe&utm_source=maps" style="color:#eee;font-size:12px;position:absolute;top:0px;">Казань</a><a href="https://yandex.ru/maps/43/kazan/house/ulitsa_mozhayskogo_9_14/YEAYdgRiSUAGQFtvfXRzcnhmbQ==/?ll=49.032052%2C55.823459&sll=49.138753%2C55.789249&sspn=0.082054%2C0.032353&utm_medium=mapframe&utm_source=maps&z=16.81" style="color:#eee;font-size:12px;position:absolute;top:14px;">Улица Можайского, 9/14 — Яндекс.Карты</a><iframe src="https://yandex.ru/map-widget/v1/-/CCQlQUUu~D" width="560" height="400" frameborder="1" allowfullscreen="true" style="position:relative;"></iframe></div>
                        </div>

                        <div class="col-12 col-md-6 contacts__content-part contacts__requisites">
                            <div class="contacts__partition-wrap">
                                <div class="contacts__partition-title">
                                    Реквизиты
                                </div>
                            </div>
                            <div class="contacts__partition-description">
                                <div class="partition-description__contacts">
                                    <div class="partition-description__small-text partition-description__small-text_name">
                                        Реквизит
                                    </div>
                                    <div class="partition-description__small-text partition-description__small-text_value">
                                        Значение реквизита. Значение реквизита. Значение реквизита. Значение реквизита. Значение реквизита. 
                                    </div>
                                    <div class="partition-description__small-text partition-description__small-text_name">
                                        Реквизит
                                    </div>
                                    <div class="partition-description__small-text partition-description__small-text_value">
                                        Значение реквизита. Значение реквизита. Значение реквизита. Значение реквизита. Значение реквизита. 
                                    </div>
                                    <div class="partition-description__small-text partition-description__small-text_name">
                                        Реквизит
                                    </div>
                                    <div class="partition-description__small-text partition-description__small-text_value">
                                        Значение реквизита. Значение реквизита. Значение реквизита. Значение реквизита. Значение реквизита. 
                                    </div>
                                    <div class="partition-description__small-text partition-description__small-text_name">
                                        Реквизит
                                    </div>
                                    <div class="partition-description__small-text partition-description__small-text_value">
                                        Значение реквизита. Значение реквизита. Значение реквизита. Значение реквизита. Значение реквизита. 
                                    </div>
                                    <div class="partition-description__small-text partition-description__small-text_name">
                                        Реквизит
                                    </div>
                                    <div class="partition-description__small-text partition-description__small-text_value">
                                        Значение реквизита. Значение реквизита. Значение реквизита. Значение реквизита. Значение реквизита. 
                                    </div>
                                    <div class="partition-description__small-text partition-description__small-text_name">
                                        Реквизит
                                    </div>
                                    <div class="partition-description__small-text partition-description__small-text_value">
                                        Значение реквизита. Значение реквизита. Значение реквизита. Значение реквизита. Значение реквизита. 
                                    </div>
                                    <div class="partition-description__small-text partition-description__small-text_name">
                                        Реквизит
                                    </div>
                                    <div class="partition-description__small-text partition-description__small-text_value">
                                        Значение реквизита. Значение реквизита. Значение реквизита. Значение реквизита. Значение реквизита. 
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-12 col-md-6 contacts__content-part contacts__form">
                            <div class="form-block">
                                <div class="form-block__title">
                                    Ваша заявка
                                </div>
                                <div class="form-block__sub-title">
                                    Оставьте Ваши контактные данные, и мы свяжемся с Вами в ближайшее время
                                </div>
                                <form class="form-block__content">
                                    <div class="form-block__field">
                                        <label for="name" class="form-block__label">
                                            Ваше имя
                                        </label>
                                        <input type="text" id="name" name="name" class="form-block__input name">
                                    </div>
                                    <div class="form-block__field">
                                        <label for="phone" class="form-block__label">
                                            Ваш телефон
                                        </label>
                                        <input type="tel" id="phone" name="phone" class="form-block__input phone">
                                    </div>
                                    <button class="form-block__button simple-button simple-button_for-form">
                                        Отправить
                                    </button>
                                    <div class="form-block__messages">
                                        <div class="form-block__success transparent not-visible">
                                            <span>
                                                Благодарим за заявку!
                                            </span>
                                        </div>
                                    </div>
                                </form>
                                <div class="modal-content__warning">
                                    Нажимая на кнопку, вы даете согласие на обработку персональных данных и соглашаетесь c политикой конфиденциальности
                                </div>
                            </div>
                        </div>

                    </div>

                </div>
            </div>
        </div>
@@include('parts/footer.html')