@@include('parts/header.html')

<div class="work-area">

    <div class="content-block">
@@include('parts/top-menu.html')
        <header class="header">
            <div class="header__layer">
                <div class="container">
                    <div class="row">
                        <div class="header__up-row col-12">
                            <div class="header__email">
                                gds_kazan16@mail.ru
                            </div>
                            <div class="header__phone">
                                <div class="header__phone-pref">
                                    <div class="phone-pref__item phone-pref__item_txt">
                                        тел./факс
                                    </div>
                                    <div class="phone-pref__item phone-pref__item_icon">
                                        <picture>
                                            <img src="/assets/images/phone_(2).png" alt="" srcset="/assets/images/phone_(2)@2x.png 2x, /assets/images/phone_(2)@3x.png 3x">
                                        </picture>
                                    </div>                        
                                </div>
                                <a href="tel:8(843)2925536" class="header__phone-link">
                                    8 (843) 292 - 55 - 36
                                </a>
                            </div>
                            <div class="header__link-to-prise">
                                <a href="#" class="link-to-prise">
                                    <div class="link-to-prise__wrap">
                                        <picture>
                                            <img src="/assets/images/download.png" alt="" srcset="/assets/images/download@2x.png 2x, /assets/images/download@3x.png 3x">
                                        </picture>
                                        <span>
                                            Скачать прайс
                                        </span>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="header__low-row col-12">
                            <div class="header__inner-wrap_low-row">
                                <h1 class="header__main-title header__main-title_left">
                                    ООО "ЖИЛДОРСТРОЙ"
                                </h1>
                                <hr>
                                <div class="header__sub-title header__sub-title_left">
                                    железнодорожное строительство и проектирование
                                    <span class="spec-circle"></span>
                                    оборудование и материалы
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <section class="special-offer">
            <div class="special-offer__layer">
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <h2 class="h2 section-title">
                                НАШИ СПЕЦПРЕДЛОЖЕНИЯ
                            </h2>
                        </div>
                        <div class="special-offer__wrap-with-offers">

                            <div class="special-offer__offer-item col-12 col-lg-4">
                                <article class="offer-item__block">
                                    <div class="offer-item__layer">
                                        <div class="offer-item__border">
                                            <h5 class="offer-item__main-title">
                                                ШПАЛА ДЕРЕВЯННАЯ
                                                ПРОПИТАННАЯ
                                                ГОСТ 99999-23-ТУ
                                            </h5>
                                        </div>
                                    </div>
                                    <footer class="offer-item__footer">
                                        <div class="offer-item__footer-wrap">
                                            <div class="offer-item__footer-border">
                                                <div class="offer-item__footer-text">
                                                    40 000 руб./тн.
                                                </div>
                                            </div>
                                        </div>
                                    </footer>
                                </article>
                            </div>

                            <div class="special-offer__offer-item col-12 col-lg-4">
                                <article class="offer-item__block">
                                    <div class="offer-item__layer">
                                        <div class="offer-item__border">
                                            <h5 class="offer-item__main-title">
                                                ШПАЛА ДЕРЕВЯННАЯ
                                                ПРОПИТАННАЯ
                                                ГОСТ 99999-23-ТУ
                                            </h5>
                                        </div>
                                    </div>
                                    <footer class="offer-item__footer">
                                        <div class="offer-item__footer-wrap">
                                            <div class="offer-item__footer-border">
                                                <div class="offer-item__footer-text">
                                                    40 000 руб./тн.
                                                </div>
                                            </div>
                                        </div>
                                    </footer>
                                </article>
                            </div>

                            <div class="special-offer__offer-item col-12 col-lg-4">
                                <article class="offer-item__block">
                                    <div class="offer-item__layer">
                                        <div class="offer-item__border">
                                            <h5 class="offer-item__main-title">
                                                ШПАЛА ДЕРЕВЯННАЯ
                                                ПРОПИТАННАЯ
                                                ГОСТ 99999-23-ТУ
                                            </h5>
                                        </div>
                                    </div>
                                    <footer class="offer-item__footer">
                                        <div class="offer-item__footer-wrap">
                                            <div class="offer-item__footer-border">
                                                <div class="offer-item__footer-text">
                                                    40 000 руб./тн.
                                                </div>
                                            </div>
                                        </div>
                                    </footer>
                                </article>
                            </div>

                            <div class="special-offer__offer-item col-12 col-lg-4">
                                <article class="offer-item__block">
                                    <div class="offer-item__layer">
                                        <div class="offer-item__border">
                                            <h5 class="offer-item__main-title">
                                                ШПАЛА ДЕРЕВЯННАЯ
                                                ПРОПИТАННАЯ
                                                ГОСТ 99999-23-ТУ
                                            </h5>
                                        </div>
                                    </div>
                                    <footer class="offer-item__footer">
                                        <div class="offer-item__footer-wrap">
                                            <div class="offer-item__footer-border">
                                                <div class="offer-item__footer-text">
                                                    40 000 руб./тн.
                                                </div>
                                            </div>
                                        </div>
                                    </footer>
                                </article>
                            </div>

                            <div class="special-offer__dots-bar">
                                <div class="dots-bar__list">
                                    <div class="dots-bar__item">
                                    </div>
                                    <div class="dots-bar__item active">
                                    </div>
                                    <div class="dots-bar__item">
                                    </div>
                                    <div class="dots-bar__item">
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="special-offer__button col-12">
                            <a href="#" class="special-offer__link simple-button">
                                СМОТРЕТЬ ВСЕ
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="about-us">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <h2 class="section-title">
                            О НАС
                        </h2>
                        <div class="section-description">
                            Основная информация: где расположены, сколько лет на рынке, сколько 
                            проектов, сколько складов/отделений в России, мощности, ценности и пр.
                            Основная информация: где расположены, сколько лет на рынке, сколько 
                            проектов, сколько складов/отделений в России, сколько сотрудников, мощности, ценности и пр.
                            Очень емко и кратко.
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="our-projects">
            <div class="our-projects__layer">
            </div>
            <div class="container">
                <div class="row">

                    <div class="our-projects__our-project col-12 col-lg-6">
                        <div class="our-project odd">
                            <div class="our-project__inner-border">
                                <div class="our-project__layer">
                                    
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="our-projects__our-project col-12 col-lg-6">
                        <div class="our-project even">
                            <div class="our-project__inner-border">
                                <div class="our-project__layer">

                                </div>
                            </div>
                        </div>
                    </div>                    
                </div>
            </div>
            
        </section>
        <section class="choose-us">

        </section>
        <footer class="footer">

        </footer>
    </div>
</div>

@@include('parts/footer.html')