@@include('parts/header.html')
<div class="work-area">
@@include('parts/loader-dark.html')
    <div class="content-block">
@@include('parts/top-menu-inner.html')

            <div class="offers">

                <div class="container">
                    <div class="row">

                        <header class="col-12 tricky-title">
                            <div class="info-from-top-page">
                                <div class="header__email">
                                    gds_kazan16@mail.ru
                                </div>
                                <div class="header__phone">
                                    <div class="header__phone-pref">
                                        <div class="phone-pref__item phone-pref__item_txt">
                                            тел./факс
                                        </div>
                                        <div class="phone-pref__item phone-pref__item_icon">
                                            <picture>
                                                <img src="/assets/images/phone_(2).png" alt="" srcset="/assets/images/phone_(2)@2x.png 2x, /assets/images/phone_(2)@3x.png 3x">
                                            </picture>
                                        </div>                        
                                    </div>
                                    <a href="tel:8(843)2925536" class="header__phone-link">
                                        8 (843) 292 - 55 - 36
                                    </a>
                                </div>
                            </div>
                            <h1 class="h1 catalog-part__list-title">
                                АКЦИИ И ПРЕДЛОЖЕНИЯ
                            </h1>
                        </header>

                        <section class="inner-catalog__partition-block col-12">
                            <div class="partition-block__layer">
                                <div class="partition-block__another-layer">
                                    <div class="partition-block__inner-layer">
                                    </div>
                                </div>
                            </div>
                            <div class="partition-block__inner-border hovered">
                            </div>
                            <div class="partition-block__content">
                                <div class="col-12 col-md-4 partition-block__inner-wrap">
                                    <div class="partition-block__wrap-title">
                                        <h2 class="h2 partition-block__title">
                                            СВЕРЛЕНИЕ РЕЛЬС
                                        </h2>
                                    </div>
                                </div>
                                <div class="col-12 col-md-8 partition-block__wrap-list">
                                    <div class="partition-block__list">
                                        <div class="partition-block__paragraphs">
                                            <p>
                                                Мы можем рассверлить любые рельсы самыми современными 
                                                инструментами гладко и аккуратно, мы приедем к вам сами или примем 
                                                ваши рельсы на нашем производстве. Срок выполнения работ 10 
                                                рабочих дней. Работаем по 50% предоплате. Оставьте заявку, и мы 
                                                свяжемся с вами для уточнения деталей
                                            </p>
                                        </div>
                                        <a href="#" class="link-to-prise offer-button">
                                            <div class="link-to-prise__wrap">
                                                <picture>
                                                    <img src="/assets/images/download.png" alt="" srcset="/assets/images/download@2x.png 2x, /assets/images/download@3x.png 3x">
                                                </picture>
                                                <span>
                                                    Оставить заявку
                                                </span>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </section>

                        <section class="inner-catalog__partition-block col-12">
                            <div class="partition-block__layer">
                                <div class="partition-block__another-layer">
                                    <div class="partition-block__inner-layer">
                                    </div>
                                </div>
                            </div>
                            <div class="partition-block__inner-border hovered">
                            </div>
                            <div class="partition-block__content">
                                <div class="col-12 col-md-4 partition-block__inner-wrap">
                                    <div class="partition-block__wrap-title">
                                        <h2 class="h2 partition-block__title">
                                            РЕЗКА РЕЛЬС
                                        </h2>
                                    </div>
                                </div>
                                <div class="col-12 col-md-8 partition-block__wrap-list">
                                    <div class="partition-block__list">
                                        <div class="partition-block__paragraphs">
                                            <p>
                                                Мы можем порезать любые рельсы самыми современными 
                                                инструментами гладко и аккуратно, мы приедем к вам сами или примем 
                                                ваши рельсы на нашем производстве. Срок выполнения работ 10 
                                                рабочих дней. Работаем по 50% предоплате. Оставьте заявку, и мы 
                                                свяжемся с вами для уточнения деталей
                                            </p>
                                        </div>
                                        <a href="#" class="link-to-prise offer-button">
                                            <div class="link-to-prise__wrap">
                                                <picture>
                                                    <img src="/assets/images/download.png" alt="" srcset="/assets/images/download@2x.png 2x, /assets/images/download@3x.png 3x">
                                                </picture>
                                                <span>
                                                    Оставить заявку
                                                </span>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </section>

                    </div>
                </div>

            </div>

@@include('parts/footer.html')