@@include('parts/header.html')

<div class="work-area">
@@include('parts/loader-light.html')
    <div class="content-block">
@@include('parts/top-menu-other.html')

        <div class="inner-about post">
            <div class="container">
                <div class="row">

                    <div class="inner-about__text-content">

                        <header class="col-12 tricky-title">
                            <div class="info-from-top-page info-from-top-page_without-back">
                                <div class="header__email">
                                    gds_kazan16@mail.ru
                                </div>
                                <div class="header__phone">
                                    <div class="header__all-manager-phone-prefs">
                                        <div class="header__phone-pref">
                                            <div class="phone-pref__item phone-pref__item_txt">
                                                тел./факс
                                            </div>
                                            <div class="phone-pref__item_icon">
                                                <picture>
                                                    <img src="/assets/images/phone_(2).png" alt="" srcset="/assets/images/phone_(2)@2x.png 2x, /assets/images/phone_(2)@3x.png 3x">
                                                </picture>
                                            </div>                        
                                        </div>
                                        <div class="header__phone-pref">
                                            <div class="phone-pref__item phone-pref__item_txt">
                                                моб.
                                            </div>
                                            <div class="phone-pref__item_icon">
                                                <picture>
                                                    <img src="/assets/images/phone_(2).png" alt="" srcset="/assets/images/phone_(2)@2x.png 2x, /assets/images/phone_(2)@3x.png 3x">
                                                </picture>
                                            </div>                        
                                        </div>
                                    </div>
                                    <div class="header__all-manager-phones">
                                        <a href="tel:8(843)2925536" class="header__phone-link">
                                            8 (843) 292 - 55 - 36
                                        </a>
                                        <a href="tel:8(843)2925536" class="header__phone-link">
                                            8 (843) 292 - 55 - 36
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <h1 class="h1 catalog-part__list-title">
                                Заголовок записи
                            </h1>

                            <div class="col-12 mobile-block">
                                <h4 class="post__title">
                                    Рельсы  Б/У крановые ГОСТ 3456-00-99
                                </h4>                                
                            </div>
                        </header>

                        <div class="col-12 inner-about__partition-block">
                            <div class="col-12 col-md-5 inner-about__block inner-about__block_with-image">
                                <div class="inner-about__block-background">
                                    
                                </div>
                                <!-- <img src="assets/images/проект_111.jpg" alt=""> -->
                            </div>
                            <div class="col-12 col-md-7 inner-about__block inner-about__block_with-title">
                                <h4 class="post__title desktop-block">
                                    Рельсы  Б/У крановые ГОСТ 3456-00-99
                                </h4>
                                <div class="custom-fields__container">
                                    <div class="custom-fields__row">
                                        <div class="custom-fields__block custom-fields__block_text custom-fields__block_name">
                                            Название поля
                                        </div>
                                        <div class="custom-fields__block custom-fields__block_text custom-fields__block_value">
                                            Значение поля
                                        </div>
                                    </div>
                                    <div class="custom-fields__row">
                                        <div class="custom-fields__block custom-fields__block_text custom-fields__block_name">
                                            Название поля
                                        </div>
                                        <div class="custom-fields__block custom-fields__block_text custom-fields__block_value">
                                            Значение поля
                                        </div>
                                    </div>
                                    <div class="custom-fields__row">
                                        <div class="custom-fields__block custom-fields__block_text custom-fields__block_name">
                                            Название поля
                                        </div>
                                        <div class="custom-fields__block custom-fields__block_text custom-fields__block_value">
                                            Значение поля
                                        </div>
                                    </div>
                                    <div class="custom-fields__row">
                                        <div class="custom-fields__block custom-fields__block_text custom-fields__block_name">
                                            Название поля
                                        </div>
                                        <div class="custom-fields__block custom-fields__block_text custom-fields__block_value">
                                            Значение поля
                                        </div>
                                    </div>
                                </div>
                                <div class="post__row">
                                    <a href="#" class="link-to-prise post__botton">
                                        <span>
                                            Оставить заявку
                                        </span>
                                    </a>
                                </div>
                            </div>

                            <div class="col-12 inner-about__block">
                                <p>
                                    Мы можем предложить к рельсам вот такие и вот такие услуги.
                                    Все железные дороги, как и сто лет назад, собираются из отрезков рельс. Рельсы р 50 предназначены для строительства без стыковых путей дороги с широкой колеей. Они изготавливаются в соответствии с ГОСТ Р  51685 - 2000 и рассчитаны на нагрузку в пределах 10 - 25 млн.т.км /км. в год.
                                    Все железные дороги, как и сто лет назад, собираются из отрезков рельс. 
                                </p>
                            </div>

                            <div class="col-12 inner-about__block">
                                <p class="post__info-in-end-page">
                                    Для заказа и более подробной информации Вы можете <a link="#" class="link-to-request">оставить заявку</a>, <a link="#" class="link-to-download">скачать прайс</a>, а так же связаться с нами по номеру <b>8 (843) 292 - 55 - 36</b>
                                </p>
                            </div>
                        </div>

                    </div>

                </div>
            </div>
        </div>

@@include('parts/footer.html')