@@include('parts/header.html')
<div class="work-area">

    <div class="content-block">
@@include('parts/top-menu-other.html')
        <div class="stocks">
            <div class="container">
                <div class="row">

                    <div class="inner-about__image-content">
                        <div class="image-content__pattern">
                            <div class="square__azure square__azure_small">
                                <div class="square__orange">
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="inner-about__text-content">

                        <header class="col-12 tricky-title">
                            <div class="info-from-top-page">
                                <div class="header__email">
                                    gds_kazan16@mail.ru
                                </div>
                                <div class="header__phone">
                                    <div class="header__phone-pref">
                                        <div class="phone-pref__item phone-pref__item_txt">
                                            тел./факс
                                        </div>
                                        <div class="phone-pref__item phone-pref__item_icon">
                                            <picture>
                                                <img src="/assets/images/phone_(2).png" alt="" srcset="/assets/images/phone_(2)@2x.png 2x, /assets/images/phone_(2)@3x.png 3x">
                                            </picture>
                                        </div>                        
                                    </div>
                                    <a href="tel:8(843)2925536" class="header__phone-link">
                                        8 (843) 292 - 55 - 36
                                    </a>
                                </div>
                            </div>
                            <h1 class="h1 catalog-part__list-title">
                                АКЦИИ И СПЕЦПРЕДЛОЖЕНИЯ
                            </h1>
                        </header>

                        <section class="inner-catalog__partition-block col-12">
                            <div class="partition-block__layer">
                                <div class="partition-block__inner-layer">
                                </div>
                            </div>
                            <div class="partition-block__inner-border hovered">
    
                            </div>
                            <div class="partition-block__content">
                                <div class="col-12 col-md-4">
                                </div>
                                <div class="col-12 col-md-8 content__information">
                                    <h2 class="h2 partition-block__title">
                                        ШПАЛА ДЕРЕВЯННАЯ ПРОПИТАННАЯ ГОСТ99999-23ТУ
                                    </h2>
                                    <div class="partition-block__paragraphs">
                                        <p class="partition-block__text">
                                            Самая лучшая в мире качественная и красивая шпала. Можем упаковать 
                                            две, три, четыре, восемь штук. Количество на складе ограничено. За 
                                            самовывоз шоколадка. Отменное качество за такую цену гарантируем. 
                                            Назовите кодовое слово "шпалера" и получите занавес в подарок.
                                        </p>
                                    </div>
                                    <div class="col-12 col-md-6 partition-block__amount">
                                        <span>
                                            40 000 руб./тн.
                                        </span>
                                    </div>
                                    <div class="col-12 col-md-6 partition-block__button">
                                        <a href="#" class="link-to-prise link-to-prise__stock">
                                            <span>
                                                Оставить заявку
                                            </span> 
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </section>

                        <section class="inner-catalog__partition-block col-12">
                            <div class="partition-block__layer">
                                <div class="partition-block__inner-layer">
                                </div>
                            </div>
                            <div class="partition-block__inner-border hovered">
    
                            </div>
                            <div class="partition-block__content">
                                <div class="col-12 col-md-4">
                                </div>
                                <div class="col-12 col-md-8 content__information">
                                    <h2 class="h2 partition-block__title">
                                        ШПАЛА ДЕРЕВЯННАЯ ПРОПИТАННАЯ ГОСТ99999-23ТУ
                                    </h2>
                                    <div class="partition-block__paragraphs">
                                        <p class="partition-block__text">
                                            Самая лучшая в мире качественная и красивая шпала. Можем упаковать 
                                            две, три, четыре, восемь штук. Количество на складе ограничено. За 
                                            самовывоз шоколадка. Отменное качество за такую цену гарантируем. 
                                            Назовите кодовое слово "шпалера" и получите занавес в подарок.
                                        </p>
                                    </div>
                                    <div class="col-12 col-md-6 partition-block__amount">
                                        <span>
                                            40 000 руб./тн.
                                        </span>
                                    </div>
                                    <div class="col-12 col-md-6 partition-block__button">
                                        <a href="#" class="link-to-prise link-to-prise__stock">
                                            <span>
                                                Оставить заявку
                                            </span> 
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </section>

                    </div>

                </div>
            </div>
        </div>
@@include('parts/footer.html')